.results-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 16px;
    height: 100%;
    width: 100%;
    padding: 2.5%;
    box-sizing: border-box;
}

@media (max-width: 780px) {
    .results-container {
        display: flex;
    }
}
