@import '../../Themes/variables';

.submit-results {
    position: relative;
    height: 100%;
    background-color: $app-background;
    border-radius: 8px;

    .tabs {
        position: absolute;
        font-size: 0.75em;
        top: 44px;
        right: 12px;
        display: flex;

        .results-toggle-btn {
            text-align: center;
            background: $dark-background;
            padding: 4px 12px;
            width: 7em;
            cursor: pointer;

            &:hover {
                mix-blend-mode: screen;
            }

            &.active {
                background-color: $govini-orange;
            }

            &.left-toggle {
                border-radius: 6px 0 0 6px;
            }

            &.right-toggle {
                border-radius: 0 6px 6px 0;
            }
        }
    }

    .submit-title {
        font-size: 2em;
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 24px;
    }

    .results-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
        height: calc(100% - 100px);
        margin-top: 100px;
        width: 100%;
        padding: 24px;

        select,
        input {
            margin-left: 16px;
            color: white !important;
            background: $dark-background !important;
        }

        .disabled {
            background: gray;
            color: darkgray;
            pointer-events: none;
        }
    }
}

@media (max-width: 780px) {
    .submit-results {
        background-color: $dark-background;
    }
}
