.select-container {
    height: 3rem; /* Use relative units */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make it full-width on mobile */

    .dropdown-label {
        margin-right: 5px; /* Reduce margin for better spacing on mobile */
    }

    .dropdown-select {
        flex-grow: 1;
        text-align: center;

        option {
            text-align: center;
        }
    }
}

@media (max-width: 780px) {
    .select-container {
        .dropdown-label,
        .dropdown-select {
            font-size: 0.75em !important;
        }
    }
}
