@import '../../Themes/variables';

.h2h-wins-circle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vmin;
    width: 30vmin;
    border-radius: 100%;
    border: 2px solid $sidebar-border;
    background: $dark-background;
}
