.players-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2.5%;
    box-sizing: border-box;

    .players-top-bar {
        display: flex;
        align-items: center;
        position: absolute;
        top: 5vh;
        right: 2vw;
        z-index: 100;
    }
}

@media (max-width: 780px) {
    .players-container .players-top-bar {
        top: 12vh;
        right: 5vw;
    }
}
