@import '../../Themes/variables';

.signup-btn {
    background: $govini-orange;
    width: 85%;
    border-radius: 4px;
    margin: 16px;

    &.disabled {
        background: gray;
        color: darkgray;
        pointer-events: none;
    }
}

.signup-link {
    margin: 4px;

    span {
        color: $link-orange;
        text-decoration: underline;
        cursor: pointer;
    }
}

@media (max-width: 780px) {
    .signup-link,
    .signup-btn {
        font-size: 0.75em;
    }
}
