.match-history-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .match-history-cell {
        flex: 1;
        text-align: center;
    }
}
