@import '../../../Themes/variables';

.match-history-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
    transform: translateY(-4px);
    font-weight: 700;
    background: $dark-background;

    .match-history-title {
        flex: 1;
        text-align: center;
    }
}
