@import '../../Themes/variables';

.content-container {
    background: $dark-background;
    width: 95%;
    height: 85%;
    margin-top: 7.5%;
    position: relative;
    border-radius: 8px;
    border: 1px solid $sidebar-border;
}